img {
    width:300px;
    display: block;
    margin: auto;
    padding-bottom: 10px;

}
ul {
    list-style-type: none;
}

li {
    padding: 10px;
    border: solid green 6px;
    margin: 10px;
    width: 350px;
    text-align: center;


}

h1 {
    text-align: center;
    font-size: 40px;
    background: rgb(165, 122, 42);
}

body {
    font-family: 'Courier New', Courier, monospace;
}
.name {
}